<footer class="bg-light text-center text-lg-start fixed-bottom">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © <%= Time.new.year %> - 
    <a class="text-dark" href="https://milo.life">Henrik Enger Milo</a>
  </div>
  <!-- Copyright -->
</footer>