<h1>Endre bestilling</h1>
<br/>
<%= render "form", order: @order %>

<br>

<div>
  <%= link_to "Vis bestilling", @order, class:"btn btn-secondary" %>
  <%= link_to "Tilbake", orders_path, class:"btn btn-danger" %>
</div>
