<br/>
<h1>Ny bestilling</h1>
<br/>
<%= render "form", order: @order %>

<br>

<div>
  <%= @form.submit "Lag bestilling", class:"btn btn-success" %>
  <%= link_to "Tilbake", orders_path, class:"btn btn-danger" %>
</div>
